
table {
  width: 100%;
}

.no-result{
  text-align: center;
  font-size: 50px;

}

.action-button:hover{
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.image-small{
    width: 70px;

}
