<div fxLayout="column" >
    <nav class="menu" fxLayout="row" fxLayoutAlign="end stretch">

        <button mat-button routerLink="/home">Home</button>
        <button mat-button [matMenuTriggerFor]="collectionsMenu">Collections</button>
        <mat-menu #collectionsMenu="matMenu">
          <button mat-menu-item routerLink="/collections">List Collections</button>
          <button mat-menu-item routerLink="/addcollections">New Collections</button>
      
        </mat-menu>
      </nav>
      <header fxLayout="column" fxLayoutAlign="center center">
        <img class="logo" src="../assets/images/logo.jpg" alt="Logo">
        <h1>Interview Test</h1>
      </header>
      <section fxLayout="column" fxLayoutAlign="start stretch" class="main-container">
        <router-outlet></router-outlet>
      </section>
      <footer fxLayout="column" fxLayoutAlign="center center">
        <label>Developed by Leonardo Palmeiro</label>
        <div fxLayout="row">
          <mat-icon>phone</mat-icon>
          <div class="contact-item">
            <span>Phone: </span>
            <a href="tel:+306993413246">699 3413246</a>
          </div>
        </div>
        <div fxLayout="row">
          <mat-icon>email</mat-icon>
          <div class="contact-item">
            <span>Email: </span><a href="mailto:palmeiro.leonardo@gmail.com">palmeiro.leonardo@gmail.com</a>
          </div>
        </div>
      </footer>
</div>
